# Projet immo / partie inférence

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

In [1]:
df_without_outliers = pd.read_pickle("data/EDA_1_iter.pkl")

NameError: name 'pd' is not defined

In [14]:
df_without_outliers

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,1
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,0
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,1
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,0
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,1
...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,1
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,3
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,1
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,0
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,2

In [15]:
import scipy.stats as stats
import statsmodels.api as sm

# OLS for take the residual
independent_variable = "+".join(df_quali.columns)
model = sm.OLS(Y, independent_variable).fit()

# Test of normality on the residuals
print(stats.shapiro(model.resid))

# Plot
pplot = sm.ProbPlot(model.resid, fit = True)
pplot.qqplot(line = 's')
plt.show()

NameError: name 'df_quali' is not defined